@page
@model IndexModel
@{
    ViewData["Title"] = "Free Open Source Weave Trainer";
}

<div id="contents">
      <form name="table_form" method="post">
        <div class="prac_frame">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr class="wild">
              <td>Armor (2S)</td>
              <td class="buttons">
                <input name="armor" size="2" value="@Request.Query["armor"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "armor")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "armor")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Blind (1E, 1F, 1S)</td>
              <td class="buttons">
                <input name="blind" size="2" value="@Request.Query["blind"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "blind")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "blind")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Call Lightning (3A, 1F, 2W)</td>
              <td class="buttons">
                <input name="call lightning" size="2" value="@Request.Query["call lightning"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "call lightning")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "call lightning")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Change Weather (2A, 3W)</td>
              <td class="buttons">
                <input name="change weather" size="2" value="@Request.Query["change weather"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "change weather")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "change weather")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Chill (1W)</td>
              <td class="buttons">
                <input name="chill" size="2" value="@Request.Query["chill"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "chill")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "chill")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Contagion (4E, 3S)</td>
              <td class="buttons">
                <input name="contagion" size="2" value="@Request.Query["contagion"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "contagion")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "contagion")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Create Fog (2A, 3W)</td>
              <td class="buttons">
                <input name="create fog" size="2" value="@Request.Query["create fog"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "create fog")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "create fog")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Create Food (1E)</td>
              <td class="buttons">
                <input name="create food" size="2" value="@Request.Query["create food"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "create food")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "create food")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Create Phantom Object (3E)</td>
              <td class="buttons">
                <input name="create phantom object" size="2" value="@Request.Query["create phantom object"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "create phantom object")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "create phantom object")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Create Water (1W)</td>
              <td class="buttons">
                <input name="create water" size="2" value="@Request.Query["create water"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "create water")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "create water")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Cure Blindness (1F, 3S)</td>
              <td class="buttons">
                <input name="cure blindness" size="2" value="@Request.Query["cure blindness"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "cure blindness")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "cure blindness")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Cure Critical Wounds (1E, 5W, 2S)</td>
              <td class="buttons">
                <input name="cure critical wounds" size="2" value="@Request.Query["cure critical wounds"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "cure critical wounds")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "cure critical wounds")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Cure Fear (4S)</td>
              <td class="buttons">
                <input name="cure fear" size="2" value="@Request.Query["cure fear"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "cure fear")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "cure fear")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Cure Light Wounds (1E, 1W, 2S)</td>
              <td class="buttons">
                <input name="cure light wounds" size="2" value="@Request.Query["cure light wounds"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "cure light wounds")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "cure light wounds")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Cure Poison (4E, 3W)</td>
              <td class="buttons">
                <input name="cure poison" size="2" value="@Request.Query["cure poison"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "cure poison")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "cure poison")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Cure Serious Wounds (1E, 4W 2S)</td>
              <td class="buttons">
                <input name="cure serious wounds" size="2" value="@Request.Query["cure serious wounds"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "cure serious wounds")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "cure serious wounds")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Deafen (2E, 1S)</td>
              <td class="buttons">
                <input name="deafen" size="2" value="@Request.Query["deafen"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "deafen")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "deafen")?.pracsNeeded)</td>
            </tr>
          </table>
        </div>
        <div class="prac_frame">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr class="wild">
              <td>Earthquake (4E)</td>
              <td class="buttons">
                <input name="earthquake" size="2" value="@Request.Query["earthquake"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "earthquake")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "earthquake")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Elemental Staff (4A, 3F, 5W)</td>
              <td class="buttons">
                <input name="elemental staff" size="2" value="@Request.Query["elemental staff"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "elemental staff")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "elemental staff")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Fear (2S)</td>
              <td class="buttons">
                <input name="fear" size="2" value="@Request.Query["fear"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "fear")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "fear")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Fireball (7F)</td>
              <td class="buttons">
                <input name="fireball" size="2" value="@Request.Query["fireball"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "fireball")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "fireball")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Flame Strike (4F)</td>
              <td class="buttons">
                <input name="flame strike" size="2" value="@Request.Query["flame strike"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "flame strike")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "flame strike")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Freeze (3A, 5S)</td>
              <td class="buttons">
                <input name="freeze" size="2" value="@Request.Query["freeze"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "freeze")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "freeze")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Gate (7E, 4S)</td>
              <td class="buttons">
                <input name="gate" size="2" value="@Request.Query["gate"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "gate")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "gate")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Hailstorm (1A, 4W)</td>
              <td class="buttons">
                <input name="hailstorm" size="2" value="@Request.Query["hailstorm"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "hailstorm")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "hailstorm")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Hammer of Air (4A)</td>
              <td class="buttons">
                <input name="hammer of air" size="2" value="@Request.Query["hammer of air"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "hammer of air")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "hammer of air")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Heal (1E, 6W, 2S)</td>
              <td class="buttons">
                <input name="heal" size="2" value="@Request.Query["heal"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "heal")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "heal")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Hurricane (6A)</td>
              <td class="buttons">
                <input name="hurricane" size="2" value="@Request.Query["hurricane"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "hurricane")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "hurricane")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Ice Spikes (3A, 3W)</td>
              <td class="buttons">
                <input name="ice spikes" size="2" value="@Request.Query["ice spikes"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "ice spikes")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "ice spikes")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Incinerate (7E, 7F, 7S)</td>
              <td class="buttons">
                <input name="incinerate" size="2" value="@Request.Query["incinerate"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "incinerate")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "incinerate")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Light Ball (1A, 1F)</td>
              <td class="buttons">
                <input name="light ball" size="2" value="@Request.Query["light ball"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "light ball")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "light ball")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Locate Life (2E, 2A, 4W, 2S)</td>
              <td class="buttons">
                <input name="locate life" size="2" value="@Request.Query["locate life"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "locate life")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "locate life")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Locate Object (4E, 2A, 2S)</td>
              <td class="buttons">
                <input name="locate object" size="2" value="@Request.Query["locate object"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "locate object")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "locate object")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Poison (4E, 3W)</td>
              <td class="buttons">
                <input name="poison" size="2" value="@Request.Query["poison"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "poison")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "poison")?.pracsNeeded)</td>
            </tr>
          </table>
        </div>
        <div class="prac_frame">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr class="wild">
              <td>Refresh (2E, 2W, 3S)</td>
              <td class="buttons">
                <input name="refresh" size="2" value="@Request.Query["refresh"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "refresh")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "refresh")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Remove Contagion (2E, 2S)</td>
              <td class="buttons">
                <input name="remove contagion" size="2" value="@Request.Query["remove contagion"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "remove contagion")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "remove contagion")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Remove Warding (1E, 1A, 3S)</td>
              <td class="buttons">
                <input name="remove warding" size="2" value="@Request.Query["remove warding"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "remove warding")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "remove warding")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Sense Warding (2S)</td>
              <td class="buttons">
                <input name="sense warding" size="2" value="@Request.Query["sense warding"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "sense warding")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "sense warding")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Shield (5S)</td>
              <td class="buttons">
                <input name="shield" size="2" value="@Request.Query["shield"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "shield")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "shield")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Silence (2E, 1S)</td>
              <td class="buttons">
                <input name="silence" size="2" value="@Request.Query["silence"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "silence")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "silence")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Sleep (3A, 5S)</td>
              <td class="buttons">
                <input name="sleep" size="2" value="@Request.Query["sleep"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "sleep")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "sleep")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Slice Weaves (1E, 1A, 4F, 2S)</td>
              <td class="buttons">
                <input name="slice weaves" size="2" value="@Request.Query["slice weaves"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "slice weaves")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "slice weaves")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Slow (3A, 5S)</td>
              <td class="buttons">
                <input name="slow" size="2" value="@Request.Query["slow"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "slow")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "slow")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Sonic Boom (3A, 1F, 2W)</td>
              <td class="buttons">
                <input name="sonic boom" size="2" value="@Request.Query["sonic boom"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "sonic boom")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "sonic boom")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Strength (3E, 3W, 2S)</td>
              <td class="buttons">
                <input name="strength" size="2" value="@Request.Query["strength"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "strength")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "strength")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Sword of Flame (3E, 4A, 5F)</td>
              <td class="buttons">
                <input name="sword of flame" size="2" value="@Request.Query["sword of flame"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "sword of flame")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "sword of flame")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Travel (7E, 2S)</td>
              <td class="buttons">
                <input name="travel" size="2" value="@Request.Query["travel"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "travel")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "travel")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Ward Object (3S)</td>
              <td class="buttons">
                <input name="ward object" size="2" value="@Request.Query["ward object"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "ward object")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "ward object")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Warding vs Damage (4E, 4A, 4W)</td>
              <td class="buttons">
                <input name="warding vs damage" size="2" value="@Request.Query["warding vs damage"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "warding vs damage")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "warding vs damage")?.pracsNeeded)</td>
            </tr>
            <tr class="wild">
              <td>Warding vs Evil (1S)</td>
              <td class="buttons">
                <input name="warding vs evil" size="2" value="@Request.Query["warding vs evil"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "warding vs evil")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "warding vs evil")?.pracsNeeded)</td>
            </tr>
            <tr class="clan">
              <td>Whirlpool (5W)</td>
              <td class="buttons">
                <input name="whirlpool" size="2" value="@Request.Query["whirlpool"]">%
              </td>
              <td width="60px" style="color:darkblue; font-size:x-small">@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "whirlpool")?.percentage% (@Model.weavesObject?.weavesDebug.FirstOrDefault(w => w.weave == "whirlpool")?.pracsNeeded)</td>
            </tr>
          </table>
        </div>
      <div class="prac_frame">
        Int:
        <input id="int" name="int" size="2" value=@Model.intelligence>
        Rank:
        <input id="rank" name="rank" size="2" value=@Model.rank>
          <button type="submit">Calculate</button>
          <button type="reset" onclick="location.href='/';">Reset</button>
      </div>
      </form>
      <div class="prac_frame">
          Debug info: 
          <pre>
Level required: @Model.weavesObject?.levelRequired
Practices used: @Model.weavesObject?.totalPracs
@string.Join(";", @Model.weavesObject?.elements)
        </pre>
        </div>
        <div class="prac_frame">
          Commands: <br /><textarea id="commands" cols=30 rows=10>@Model.commands</textarea>
      </div>
      <div class="prac_frame">
          <pre style="color: red">@Model.error</pre>
      </div>
    <div id="info">
        <p><b>Legend:</b> Dark Gray = unclanned weaves, Light Gray = clanned weaves.</p>
    </div>
</div>